.btn {
	border: none;
}

.page-header { 
	text-transform: uppercase;
	font-style: italic;
}

.green-btn {
	color: #eee;
	background-color: #85b598;
}

.green-btn:hover {
	color: #eee;
	background-color: #648973;
}

.green-btn:active {
	color: #eee;
	background-color: #648973;
}

.blue-btn {
	color: #eee;
	background-color: #1d3b68;
}

.blue-btn:hover {
	color: #eee;
	background-color: #172f54;
}

.blue-btn:active {
	color: #eee;
	background-color: #172f54;
}

.gold-icon {
	color: #d8ac31;
}

.green-icon {
	color: #85b598;
}

.back-btn {
	position: fixed;
	top: 200px;
	left: -55px;
	transform: rotate(90deg);
}

.red-btn {
	color: #eee;
	background-color: #931D14;
}

.red-btn:hover {
	color: #eee;
	background-color: #7F1911;
}

.red-btn:active {
	color: #eee;
	background-color: #7F1911;
}