th {
	background-color: #314447;
}

.th-large {
	background-color: #263c3f;
	font-size: 20px;
	font-style: italic;
	text-transform: uppercase;
}

.post-header {
	margin-bottom: 1rem;
}

.post-form .post-form-header {
	background: var(--primary-color);
	padding: 0.5rem;
}

.post {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
    align-items: center;
    border-radius: 5px;
}

.post > div:first-child {
	text-align: center;
}

.post img {
    width: 100px;
    border-radius: 50%;
}

.post .comment-count {
	background: var(--light-color);
	color: var(--primary-color);
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	font-size: 0.8rem;
}

.post .post-date {
	color: #aaa;
	font-size: 0.8rem;
	padding-top: .5rem;
	margin-bottom: .7rem;
}

.post-buttons {
	margin-bottom: .5rem;
}