.user-name {
    text-transform: uppercase;
    font-weight: bold;
}

.profile-img {
    border-radius: 50%;
}

.profile-headers {
	color: #658873;
}

.profile-grid {
	display: grid;
	grid-template-areas:
		'top top'
		'about about'
		'exp edu'
		'github github';
	grid-gap: 1rem;
}

.profile-top {
    background-color: rgba(52, 58, 64, 0.9);
    border-radius: 25px;
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-top img {
	width: 250px;
}

.profile-about .icons a {
	color: #dddddd;
	margin: 0 0.3rem;
}

.profile-about .icons a:hover {
	color: #fff;
}

.profile-about {
    background-color: rgba(52, 58, 64, 0.9);
    border-radius: 25px;
	grid-area: about;
	text-align: center;
	padding: 150px;
}
