      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        position: sticky;
        position: -webkit-sticky;
        top: 0; 
        position: sticky;
        height: 300px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }